html(lang='en')
    head
        link(href='stylesheets/checklist.css' rel='stylesheet')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")

    body 
        section
        div.w83.m-auto.my-10
            table.w-full.border.border-collapse.border-gray-200
                tbody.bg-white
                    each key, index in Object.keys(vehicleInfo)
                        tr(key=index)
                            td.px-6.py-4.border.border-gray-200.font-semibold= key.replace(/_/g, ' ')
                            td.px-6.py-4.border.border-gray-200= vehicleInfo[key]

        div.flex.flex-row.justify-center.w-full
            div.m-auto.w40.mx-3
                div.my-5
                    table.w-full.border.border-collapse.border-gray-200
                        thead
                            tr.bg-gray-50
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Label
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Cab A Value
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Cab B Value
                        tbody.bg-white
                            each item in cabData
                                tr(key=item._id)
                                    td.px-6.py-4.border.border-gray-200= item.label
                                    td.px-6.py-4.border.border-gray-200
                                        if item.cab_a_value
                                            i.fas.fa-check
                                        else
                                            i.fas.fa-times
                                    td.px-6.py-4.border.border-gray-200
                                        if item.cab_b_value
                                            i.fas.fa-check
                                        else
                                            i.fas.fa-times

                div.my-5
                    table.w-full.border.border-collapse.border-gray-200
                        thead
                            tr.bg-gray-50
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Label
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Cab A Value
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Cab B Value
                        tbody.bg-white
                            each item in dddData
                                tr(key=item._id)
                                    td.px-6.py-4.border.border-gray-200= item.label
                                    td.px-6.py-4.border.border-gray-200
                                        if item.cab_a_value
                                            i.fas.fa-check
                                        else
                                            i.fas.fa-times
                                    td.px-6.py-4.border.border-gray-200
                                        if item.cab_b_value
                                            i.fas.fa-check
                                        else
                                            i.fas.fa-times

            div.m-auto.w40.mx-3
                div.my-5
                    table.w-full.border.border-collapse.border-gray-200
                        thead
                            tr.bg-gray-50
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Label
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Value
                        tbody.bg-white
                            each item in psgData
                                tr(key=item._id)
                                    td.px-6.py-4.border.border-gray-200= item.label
                                    td.px-6.py-4.border.border-gray-200
                                        if item.value
                                            i.fas.fa-check
                                        else
                                            i.fas.fa-times

                div.my-5
                    table.w-full.border.border-collapse.border-gray-200
                        thead
                            tr.bg-gray-50
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Label
                            th.px-6.py-3.text-left.font-semibold.text-gray-500.uppercase.border.border-gray-200 Value
                        tbody.bg-white
                            each item in exteriorData
                                tr(key=item._id)
                                    td.px-6.py-4.border.border-gray-200= item.label
                                    td.px-6.py-4.border.border-gray-200
                                        if item.value
                                            i.fas.fa-check
                                        else
                                            i.fas.fa-times


        div.flex.flex-row.items-center.justify-center.w83.m-auto
            each opData in exteriorOptionalData
                div.block.border.border-slate-300.w30.h-22.p-2
                    div.h-10.font-bold.text-sm.m-2.w90.w-full.text-left.text-center.p-2= opData.label
                    div.m-2.w-full
                        if opData.value
                            i.fas.fa-check
                        else
                            i.fas.fa-times                

        div.flex.flex-col.items-start.justify-start.w-full.w83.m-auto.my-5
            div.font-bold.text-sm.m-2.w20.text-left Notes:
            div.m-2.text-left.w-full.w83= notes

        div.flex.items-center.justify-start.w-full.w83.m-auto.my-5
            div.font-bold.text-sm.m-2.w20.text-left Mileage:
            div.m-2.text-left.w83= mileage

        div.flex.items-center.justify-start.w-full.w83.m-auto.my-5
            div.font-bold.text-sm.m-2.w20.text-left Fit for service:
            div.m-2.text-left.w83
                if fitForService
                    i.fas.fa-check
                else
                    i.fas.fa-times 

